.Creations {
  border: 2px orange solid;
  height: 100vh;
  padding: 20px;
}

.Creations .galery {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 40px;
  width: 80%;
  height: 100%;
  border: 5px solid blue;
}
