body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2,h3 {
  text-align: center;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.6em;
}

